{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle management system</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <div class="container">
       
        <h2>LOGIN</h2>


        {% if error_message %}
           <p  style="color: rgb(236, 9, 9);">{{ error_message }}</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        <p>Don't have an account? <b><a href="{% url 'register' %}">Sign up</a></b></p>
    </div>
</body>
</html>
{% endblock %}
